body {
  height: 100%;
}

h1 {
  font-size: 54px;
  margin-bottom: 5rem;
}
h2 {
  border: #1b262c 5px solid;
  padding: 12px 12px;
}

h2:hover {
  border: #bbe1fa 5px solid;
  padding: 12px 12px;
  color: #1b262c;
}
a {
  text-decoration: none;
  color: #1b262c;
}
a:hover {
  color: #bbe1fa;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -50%;
  z-index: 1;
  width: 100%;
  height: auto;
}
div {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  max-width: 800px;
  color: #bbe1fa;
  font-family: "Arvo", serif;
}
